<section class="main-content">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h2><%= @blog.title %></h2>
            <div class="row">
                <div class="bentrai">
                    <%= image_tag @blog.image.url, width:'100%' %>
                    <div class="tour">
                        <%= @blog.body %>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-xs-12 col-sm-4 col-md-4">                
            <div class="sidebar">
                <div class="sidebar-item">                   
                    <h3>danh mục</h3>
                    <ul class="category-list">
                    <% @categories.reverse.each do |category| %>
                        <li><%= link_to category.name, blogcategory_path(category), class:'fa fa-angle-right' %></li>
                    <% end %>
                    </ul>
                </div><!--end sidebar-item-->                                        
               
                
            </div><!--end sidebar-->


        </div>
    </div>
</div>

</section>
<!--end deals-discounts-->
