<div class="banner">
    <div class="container">
        <h1>Tour Nhật Bản 5N4D : Mùa Hoa Anh Đào</h1>
        <h3> 5 Ngày 4 Đêm</h3>
        <h3>KH: 14/04 ; 07/04 (32.800.000/khách)</h3>
        <button type="button" class="btn btn-info">click me</button>
    </div>
</div>
 <!-- het banner -->
        