<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="thongtin">
                    <p>GIỚI THIỆU</p>
                    <a href="">Ve chung toy</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <p>HỎI ĐÁP</p>
                <a href="">Ve chung toy</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <p>HỖ TRỢ</p>
                <a href="">Ve chung toy</a>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis tincidunt odio. Quisque dignissim mi quis malesuada malesuada. Suspendisse suscipit, risus at finibus fringilla, arcu erat ullamcorper lectus, elementum tincidunt velit purus vitae nunc. Quisque laoreet nisl non sem porttitor, et lacinia metus scelerisque. Curabitur sit amet commodo velit. Donec placerat tortor mi, vitae dapibus ante sollicitudin vel. Praesent aliquam, ante non placerat lacinia, elit nisi accumsan ex, et maximus metus lacus vitae ante. Nam a justo elit. Vestibulum a leo mi. Praesent nibh elit, rutrum a laoreet et, hendrerit non dolor. Curabitur eget viverra enim, id lacinia leo. Proin id lectus quis urna dictum dictum. Suspendisse cursus accumsan lorem id tristique. Nam eu ipsum ac ipsum facilisis semper.</p>
    </div>
</div>
