<% if params[:controller] == 'tours' || params[:controller] == 'tourcategories' %>
	<div class="list-group">
		<% @categories.reverse.each do |category| %>
			<%= link_to category.name, tourcategory_path(category), class:'list-group-item' %>			
			<% @tours.each do |x| %>
				<% if x.tourcategory_id == category.id %>
					<%= link_to x.title, tour_path(x), class:'list-group-item child-group' %>	
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>

<% if params[:controller] == 'blogs' || params[:controller] == 'blogcategories' %>
	<div class="list-group">
		<% @categories.reverse.each do |category| %>
			<%= link_to category.name, blogcategory_path(category), class:'list-group-item' %>			
			<% @blogs.each do |x| %>
				<% if x.blogcategory_id == category.id %>
					<%= link_to x.title, blog_path(x), class:'list-group-item child-group' %>	
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>