<div class="tieuchuan">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <i class="fa fa-check-circle" aria-hidden="true"></i>Tour chọn lọc chất lượng nhất
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <i class="fa fa-check-circle" aria-hidden="true"></i>Bảo đảm giá tốt nhất
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <i class="fa fa-check-circle" aria-hidden="true"></i>Đội ngũ tư vấn chi tiết và tận tình
        </div>
    </div>
</div>