<section id="packages" class="inverse">
	<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tour">
            <h1 style="text-align: justify;">Giới thiệu về Let's Go</h1>
            <p>&nbsp;</p>
            <p style="text-align: justify;"><strong>Let's Go - hệ thống đặt ph&ograve;ng kh&aacute;ch sạn trực tuyến</strong>, cung cấp giải ph&aacute;p tối ưu gi&uacute;p người d&ugrave;ng t&igrave;m kiếm v&agrave; đặt ph&ograve;ng với hệ thống x&aacute;c nhận v&agrave; giữ ph&ograve;ng tức thời, phương thức thanh to&aacute;n đa dạng, dịch vụ chăm s&oacute;c kh&aacute;ch h&agrave;ng 24/7.</p>
            <p style="text-align: justify;"><strong>Let's Go</strong> l&agrave; th&agrave;nh vi&ecirc;n&nbsp;của <strong>Tập đo&agrave;n TMG Việt Nam</strong> với hơn 20 năm kinh nghiệm trong lĩnh vực Du lịch &ndash; Kh&aacute;ch sạn. TMG Việt Nam hiện đang sở hữu c&aacute;c thương hiệu nổi tiếng tr&ecirc;n thị trường như Buffalo Tours, H&agrave;ng kh&ocirc;ng Hải &Acirc;u, Victoria Hotels and Resorts, &Ecirc;MM,... Let's Go phục vụ kh&aacute;ch h&agrave;ng to&agrave;n cầu, đặc biệt khu vực Đ&ocirc;ng Nam &Aacute;, bao gồm c&aacute;c tổ chức, c&ocirc;ng ty, đơn vị, c&aacute; nh&acirc;n c&oacute; nhu cầu đi c&ocirc;ng t&aacute;c, hội thảo, thăm người th&acirc;n, du lịch, chữa bệnh, v.v&hellip;</p>
            <p style="text-align: justify;"><strong>Let's Go</strong> đ&atilde; đạt giải thưởng The Guide 2013 d&agrave;nh cho Website Thương mại điện tử về du lịch tốt nhất Việt Nam.</p>
            <p style="text-align: justify;"><strong>Let's Go &amp; c&aacute;c điểm ưu việt:</strong></p>
            <p style="text-align: justify;">- Đ&aacute;p ứng mọi y&ecirc;u cầu c&oacute; thể của kh&aacute;ch h&agrave;ng từ c&aacute; nh&acirc;n tới tổ chức, kh&ocirc;ng ph&acirc;n biệt vị tr&iacute; địa l&yacute;.</p>
            <p style="text-align: justify;">- Cung cấp dịch vụ đa dạng, đầy đủ loại kh&aacute;ch sạn, loại ph&ograve;ng ở phạm vi to&agrave;n cầu, với hệ thống khoảng 2.500 kh&aacute;ch sạn tại Việt Nam &amp; hơn 30.000 kh&aacute;ch sạn quốc tế.</p>
            <p style="text-align: justify;">- Dịch vụ kh&aacute;ch h&agrave;ng nhiệt t&acirc;m, chu đ&aacute;o 24/7.</p>
            <p style="text-align: justify;">- Thanh to&aacute;n linh hoạt, nhanh ch&oacute;ng, an to&agrave;n.</p>
            <p style="text-align: justify;">- Lu&ocirc;n c&oacute; chương tr&igrave;nh ưu đ&atilde;i, khuyến mại, giảm gi&aacute; đặc biệt cho kh&aacute;ch đo&agrave;n, c&ocirc;ng ty, tổ chức.</p>
            <p style="text-align: justify;">Ngo&agrave;i ra, Let's Go cung cấp miễn ph&iacute; <a title="Phần mềm quản l&yacute; kh&aacute;ch sạn" href="/pms" target="_blank">hệ thống quản l&yacute; kh&aacute;ch sạn</a> (<strong>Property Management System - PMS</strong>) cho kh&aacute;ch sạn vừa v&agrave; nhỏ; mạng Extranet cho c&aacute;c kh&aacute;ch sạn lớn, resort cao cấp trong v&agrave; ngo&agrave;i Việt Nam.</p>
            <p style="text-align: justify;"><strong>Vui l&ograve;ng li&ecirc;n hệ:</strong></p>
            <p style="text-align: justify;">1. Dịch vụ kh&aacute;ch h&agrave;ng, đặt ph&ograve;ng kh&aacute;ch sạn: Hotline <strong>1900 1870</strong>&nbsp;&ndash; Email: <a href="mailto:TC@Let's Go">TC@Let's Go</a></p>
            <p style="text-align: justify;">2. Nh&agrave; cung cấp li&ecirc;n hệ &ndash; Email: <a href="mailto:Market@Let's Go">Market@Let's Go</a></p>
            <p style="text-align: justify;">3. Li&ecirc;n hệ Marketing &ndash; Email: <a href="mailto:thanhlong.nguyen@Let's Go">marketing@Let's Go</a></p>
            <p style="text-align: justify;">4. C&aacute;c li&ecirc;n hệ kh&aacute;c:&nbsp;<strong>1900 1870</strong></p>
        </div>
    </div>
</div>
</section>