* {
    margin: 0;
    padding: 0;
}


a.list-group-item.child-group {
    padding-left: 50px;
    
    color: black;
}

a.list-group-item {
    color: red;
}


.tour {
    background-color: white;
    padding: 10px 10px 10px 10px
}

.noidungpost {
    background-color: #ecf0f5;
    margin-top: 50px;
}

hr.style1 {
    border-top: 5px solid lightblue;
}

img {
    width: 100%;
}

.tieuchuan {
    padding: 50px 0px 50px 0px;
    font-size: 20px;
    color: darkblue;
}

.banner h1 {
    margin-top: 297px;
}

.banner {
    text-align: center;
    color: white;
    font-size: 20px;
}

.banner {
    width: 100%;
    height: 600px;
    background: url(image/mount_fuji_japan-wallpaper-1920x1080.jpg);
    background-size: 100% 100%;
}

body {
    height: 100%;
    width: 100%;
}

.banner {
    padding-top: 50px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    font-size: 18px;
    color: blueviolet;
    padding: 10px;
    margin-bottom: 100px;
}

.navbar-default {
    background-color: #222eca;
    border-color: #5c6398;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #222eca;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffbbbc;
    background-color: #5c6398;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #5c6398;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #5c6398;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #5c6398;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #5c6398;
}

.navbar-default .navbar-toggle {
    border-color: #5c6398;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #5c6398;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #5c6398;
    }
}
